# Python
__pycache__/
*.py[cod]

# Virtual Environment
venv/
env/

# Environment
.env

# VSCode
.vscode/

# MacOS
.DS_Store

# Pytest
.pytest_cache/

# Alembic
alembic/versions/*.pyc__pycache__/
*.pyc
